<<template>

    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <h3 class="mb-0">Details</h3>
                </div>

            </div>
        </div>
    </div>

</template>

<script>
    import Modal from "@/components/Modal.vue";
    import {ModelListSelect} from 'vue-search-select'
    import BaseButton from "@/components/BaseButton.vue"

    export default {
        name: "Details",
        components: {
            Modal,
            ModelListSelect,
            BaseButton,
        },

    }
</script>

<style scoped>

</style>