<template>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <h3 class="mb-0">Detalhes e Alterações</h3>
                </div>

            </div>
        </div>

        <div class="text-center mb-4">
            <i class="fa fa-film mr-2"></i>Informações do filme
        </div>
        <form>
        <div class="row">
            <div class="col-md-8">
                <div class="form-group">
                    <label class="form-control-label" for="name">Nome</label>
                    <input class="form-control" placeholder="Digite um nome" required="required"
                           type="text" id="name"
                           v-model="movie.name">
                    <base-button type="primary"  class="my-sm-2" @click.prevent="updateMovie()">
                        Alterar
                    </base-button>
                </div>
            </div>
        </div>
        </form>
        <div class="table-responsive py-4">
            <div id="datatable-basic_wrapper" class="dataTables_wrapper dt-bootstrap4">

                <div class="row">
                    <div class="col-md-6">
                        <table class="table table-flush dataTable" id="datatable-basic" role="grid"
                               aria-describedby="datatable-basic_info">
                            <thead class="thead-light">
                            <tr>
                                <th>Tags Relacionadas</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="tag in tags">
                                <td>{{tag.tag.name}}</td>
                                <td> <button class="btn btn-icon btn-youtube btn-sm"
                                             @click.prevent="deleteTagMovie(tag.id)"
                                             v-tooltip="'clique para excluir'">
                                    <i class="ni ni-fat-delete"></i>
                                </button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>



                    <form @submit.prevent="senderTagMovie">
                    <div class="col-md-6">
                        <div class="text-center mb-4">
                            <i class="fa fa-film mr-2"></i>Adicionar a Tag
                        </div>
                        <label class="form-control-label" for="tag[]">Tags (segure o control para selecionar)</label>
                        <select multiple data-live-search="true" class="browser-default custom-select" name="tag[]" id="tag[]"
                                v-model="list.tag"
                                title="segure o control do teclado e clique em cima do rotulo" required>
                            <option v-for="tgs in tags_insert" v-bind:value="tgs.id">{{tgs.name}}</option>
                        </select>
                    </div>
                        <base-button type="primary"  class="my-sm-2" @click.prevent="senderTagMovie()">
                            Confirmar
                        </base-button>
                    </form>


                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <button class="btn btn-icon btn-facebook btn-sm" type="button"
                            @click.prevent="emitBack('list')"
                            v-tooltip="'Voltar'">
                        <span class="btn-inner--icon"><i class="fa fa-backward"></i></span>
                    </button>

                </div>
            </div>
        </div>

    </div>
</template>

<script>
    import Modal from "@/components/Modal.vue";
    import TagMovieInsert from "@/views/movie/TagMovieInsert";



    export default {
        name: "DetailsMovie",
        props: ['movie'],
        data(){
            return {
                formData: new FormData(),
                tags: [],
                tags_insert: [],
                list: {
                    tag: [],
                },
            }
        },
        methods: {
            showComponent(component) {
                this[component] = true
            },
            emitBack(component){
                this.$emit('show-component', component);
            },
            getTagMovie() {
                this.$eventHub.$emit('loader-true');
                this.$store.dispatch('getTagMovie', {
                    id: this.movie.id
                })
                    .then(response => {
                        this.tags = response.data.tags
                        this.$eventHub.$emit('loader-false');
                    })
                    .catch(error => {
                        if (error.response) {
                            this.handleErrors(error.response)
                        }
                        this.$eventHub.$emit('loader-false');
                    })
            },
            getTags() {
                this.$eventHub.$emit('loader-true');
                this.$store.dispatch('getTags', {
                })
                    .then(response => {
                        this.tags_insert = response.data.tags
                        this.$eventHub.$emit('loader-false');
                    })
                    .catch(error => {
                        if (error.response) {
                            this.handleErrors(error.response)
                        }
                        this.$eventHub.$emit('loader-false');
                    })
            },
            deleteTagMovie(tag_id) {
                this.$eventHub.$emit('loader-true');
                this.$store.dispatch('deleteTagMovie', tag_id)
                    .then(
                        this.$toasted.show('excluindo...', {position: 'bottom-left'}).goAway(3000)
                    )
                    .then(response => {
                        this.$toasted.show(response.data.message, {position: 'bottom-left'}).goAway(3000)
                        this.getTagMovie()
                    }).catch(error => {
                    if (error.response) {
                        this.handleErrors(error.response)
                    }
                    this.$eventHub.$emit('loader-false');
                })
            },
            senderTagMovie() {
                this.$eventHub.$emit('loader-true');
                this.formData.append('id', this.movie.id)
                this.formData.append('tags', this.list.tag)
                this.$store.dispatch('senderTagMovie', this.formData)
                    .then(this.$toasted.show('enviando...', {position: 'bottom-left'}).goAway(3000))
                    .then(response => {
                        console.table(response.data)
                        this.$toasted.show(response.data.message, {position: 'top-center'}).goAway(3000)
                        this.getTagMovie()
                    })
                    .catch(error => {
                        this.loader = false;
                        if (error.response) {
                            this.handleErrors(error.response)
                        }
                        this.$eventHub.$emit('loader-false');
                    })
            },
            updateMovie() {
                this.$eventHub.$emit('loader-true');
                this.formData.append('id', this.movie.id)
                this.formData.append('name', this.movie.name)
                this.$store.dispatch('updateMovie', this.formData)
                    .then(this.$toasted.show('enviando...', {position: 'bottom-left'}).goAway(3000))
                    .then(response => {
                        console.table(response.data)
                        this.$toasted.show(response.data.message, {position: 'top-center'}).goAway(3000)
                        this.getTagMovie()
                    })
                    .catch(error => {
                        this.loader = false;
                        if (error.response) {
                            this.handleErrors(error.response)
                        }
                        this.$eventHub.$emit('loader-false');
                    })
            },
        },
        components: {
            Modal,
            TagMovieInsert,
        },
        mounted() {
            this.$eventHub.$emit('loader-false');
            this.getTagMovie()
            this.getTags()
        },
    }
</script>

<style scoped>

</style>