<template>
    <div class="card">

        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    <h3 class="mb-0">Lista de filmes</h3>
                </div>
                <div class="col-3 text-right">
                    <a class="btn btn-sm btn-secondary mr-2"
                       @click.prevent="showTagRegister()"><i class="fa fa-tag"></i>
                        Adiconar Tag</a>
                </div>
                <div class="col-3 text-right">
                    <a class="btn btn-sm btn-neutral mr-2"
                       @click.prevent="showRegister()"><i class="fa fa-film"></i>
                        Adiconar Filme</a>
                </div>
            </div>
        </div>

        <div class="table-responsive py-4">
            <div id="datatable-basic_wrapper" class="dataTables_wrapper dt-bootstrap4">

                <form class="form-inline">
                    <div class="form-group">
                        <label>Ordernar por:</label>
                        <select class="form-control" v-model="configs.orderBy">
                            <option value="name">Nome</option>
                            <option value="file_size">Tamanho</option>
                            <option value="created_at">Data</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Orderm:</label>
                        <select class="form-control" v-model="configs.order">
                            <option value="asc">Crescente</option>
                            <option value="desc">Decrescente</option>
                        </select>
                    </div>
                </form>

                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-flush dataTable" id="datatable-basic" role="grid"
                               aria-describedby="datatable-basic_info">
                            <thead class="thead-light">
                            <tr>
                                <th>Nome</th>
                                <th>Tamanho</th>
                                <th>Usuário</th>
                                <th>Data Criação</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="movie in list">
                                <td>{{movie.name}}</td>
                                <td>{{movie.file_size}}</td>
                                <td>{{movie.user.name}}</td>
                                <td>{{movie.created_at}}</td>
                                <td>

                                    <button class="btn btn-icon btn-facebook btn-sm" type="button"
                                            @click.prevent="emitMerchHist('details', movie)"
                                            v-tooltip="'Detalhamento'">
                                        <span class="btn-inner--icon"><i class="fa fa-search"></i></span>
                                    </button>

                                    <button class="btn btn-icon btn-youtube btn-sm" type="button"
                                            v-tooltip="'Excluir'"
                                            @click.prevent="deleteMovie(movie.id)">
                                        <span class="btn-inner--icon"><i class="fa fa-trash"></i></span>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            <register ref="registerComponent"></register>

            <tag-register ref="tagRegisterComponent"></tag-register>

        </div>
    </div>
</template>

<script>
    import Modal from "@/components/Modal.vue";
    import {mapGetters} from 'vuex'
    import {CodeLoader} from 'vue-content-loader';
    import Register from "@/views/movie/Register";
    import TagRegister from "@/views/movie/TagRegister";
    import Details from "@/views/movie/Details";

    export default {
        name: "List",
        data(){
            return {
                movies: [],
                configs: {
                    orderBy: 'name',
                    order: 'asc',
                    filter: ''
                }
            }
        },
        methods:{
            emitMerchHist(component, movie){
                this.$emit('show-component', component, movie);
            },
            getMovies() {
                this.$eventHub.$emit('loader-true');
                this.$store.dispatch('getMovies', {
                })
                    .then(response => {
                        this.movies = response.data.movies
                        this.$eventHub.$emit('loader-false');
                    })
                    .catch(error => {
                        if (error.response) {
                            this.handleErrors(error.response)
                        }
                        this.$eventHub.$emit('loader-false');
                    })
            },
            deleteMovie(movie_id) {
                this.$eventHub.$emit('loader-true');
                this.$store.dispatch('deleteMovie', movie_id)
                    .then(
                        this.$toasted.show('excluindo...', {position: 'bottom-left'}).goAway(3000)
                    )
                    .then(response => {
                        this.$toasted.show(response.data.message, {position: 'bottom-left'}).goAway(3000)
                        this.getMovies()
                    }).catch(error => {
                    if (error.response) {
                        this.handleErrors(error.response)
                    }
                    this.$eventHub.$emit('loader-false');
                })
            },
            showRegister() {
                this.$refs.registerComponent.showModal()
            },
            showTagRegister() {
                this.$refs.tagRegisterComponent.showModal()
            },
        },
        mounted() {
            this.$eventHub.$emit('loader-false');
            this.getMovies()
        },
        computed: {
            list() {
                return _.orderBy(this.movies, this.configs.orderBy, this.configs.order);
            },
        },
        components: {
            CodeLoader,
            Modal,
            Register,
            TagRegister,
            Details,
        },
        created() {
            this.$eventHub.$emit('loader-false');
        },
        beforeCreate() {
            this.$eventHub.$emit('loader-true');
        }
    }
</script>

<style scoped>

</style>