<template>
    <modal :show.sync="modal_show"
           body-classes="p-3"
           modal-classes="modal-dialog-centered modal-md">
        <form @submit.prevent="senderMovie">
            <card type="secondary" shadow
                  header-classes="bg-white pb-5"
                  body-classes="px-lg-5 py-lg-5"
                  class="border-0">

                <div class="text-center mb-4">
                    <i class="fa fa-film mr-2"></i>Preencha as informações do novo filme
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="form-control-label" for="name">Nome</label>
                            <input class="form-control" placeholder="Digite um nome" required="required"
                                   type="text" id="name"
                                   v-model="movie.name">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label class="form-control-label" for="tag[]">Tags (segure o control para selecionar)</label>
                        <select multiple data-live-search="true" class="browser-default custom-select" name="tag[]" id="tag[]"
                                v-model="movie.tag"
                                title="segure o control do teclado e clique em cima do rotulo" required>
                            <option v-for="tgs in tags" v-bind:value="tgs.id">{{tgs.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="form-control-label" for="file">Selecione o arquivo de video (maximo 5M):</label>
                            <input class="form-control" placeholder="file"
                                   v-on:change="loadFile()" ref="file"
                                   type="file" id="file">
                        </div>
                    </div>
                </div>
                <base-button type="primary"  class="my-4" @click.prevent="senderMovie()">
                    Confirmar
                </base-button>
            </card>
        </form>
    </modal>
</template>


<script>
    import Modal from "@/components/Modal.vue";
    import {ModelListSelect} from 'vue-search-select'
    import BaseButton from "@/components/BaseButton.vue"




    export default {
        name: "Register",
        components: {
            Modal,
            ModelListSelect,
            BaseButton,
        },
        data() {
            return {
                formData: new FormData(),
                modal_show: false,
                tags: [],
                movie: {
                    name: null,
                    file: null,
                    tag: [],
                },

            }
        },
        methods: {
            loadFile() {
                this.movie.file = this.$refs.file.files[0];
            },
            senderMovie() {
                this.$eventHub.$emit('loader-true');
                this.formData.append('name', this.movie.name)
                this.formData.append('file', this.movie.file)
                this.formData.append('tags', this.movie.tag)
                this.$store.dispatch('senderMovie', this.formData)
                    .then(this.$toasted.show('enviando...', {position: 'bottom-left'}).goAway(3000))
                    .then(response => {
                        console.table(response.data)
                        this.$toasted.show(response.data.message, {position: 'top-center'}).goAway(3000)
                        this.$router.push({name: 'home'})
                        this.modal_show = false
                        this.$eventHub.$emit('loader-true');
                    })
                    .catch(error => {
                        this.loader = false;
                        if (error.response) {
                            this.handleErrors(error.response)
                        }
                        this.$eventHub.$emit('loader-false');
                    })
            },
            getTags() {
                this.$eventHub.$emit('loader-true');
                this.$store.dispatch('getTags', {
                })
                    .then(response => {
                        this.tags = response.data.tags
                        this.$eventHub.$emit('loader-false');
                    })
                    .catch(error => {
                        if (error.response) {
                            this.handleErrors(error.response)
                        }
                        this.$eventHub.$emit('loader-false');
                    })
            },
            showModal() {
                this.modal_show = true

            },
        },
        mounted() {
            this.$eventHub.$emit('loader-false');
            this.getTags()
        },

    }
</script>

<style scoped>

</style>