<template>
    <modal :show.sync="modal_show"
           body-classes="p-3"
           modal-classes="modal-dialog-centered modal-md">
        <form @submit.prevent="senderMovie">
            <card type="secondary" shadow
                  header-classes="bg-white pb-5"
                  body-classes="px-lg-5 py-lg-5"
                  class="border-0">



                <div class="text-center mb-4">
                    <i class="fa fa-film mr-2"></i>Selecione a Tag
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <label class="form-control-label" for="tag[]">Tags (segure o control para selecionar)</label>
                        <select multiple data-live-search="true" class="browser-default custom-select" name="tag[]" id="tag[]"
                                v-model="list.tag"
                                title="segure o control do teclado e clique em cima do rotulo" required>
                            <option v-for="tgs in tags" v-bind:value="tgs.id">{{tgs.name}}</option>
                        </select>
                    </div>
                </div>

                <base-button type="primary"  class="my-4" @click.prevent="senderTagMovie()">
                    Confirmar
                </base-button>
            </card>
        </form>
    </modal>
</template>

<script>
    import Modal from "@/components/Modal.vue";
    import {ModelListSelect} from 'vue-search-select'
    import BaseButton from "@/components/BaseButton.vue"

    export default {
        name: "TagMovieInsert",
        props: ['movie'],

        data() {
            return {
                formData: new FormData(),
                modal_show: false,
                subComponentShow: null,
                tags: [],
                list: {
                    name: null,
                    file: null,
                    tag: [],
                },
            }
        },
        components: {
            Modal,
            ModelListSelect,
            BaseButton,
        },
        methods: {
            getTags() {
                this.$eventHub.$emit('loader-true');
                this.$store.dispatch('getTags', {
                })
                    .then(response => {
                        this.tags = response.data.tags
                        this.$eventHub.$emit('loader-false');
                    })
                    .catch(error => {
                        if (error.response) {
                            this.handleErrors(error.response)
                        }
                        this.$eventHub.$emit('loader-false');
                    })
            },

            senderTagMovie() {
                this.$eventHub.$emit('loader-true');
                this.formData.append('id', this.movie.id)
                this.formData.append('tags', this.list.tag)
                this.$store.dispatch('senderTagMovie', this.formData)
                    .then(this.$toasted.show('enviando...', {position: 'bottom-left'}).goAway(3000))
                    .then(response => {
                        console.table(response.data)
                        this.$toasted.show(response.data.message, {position: 'top-center'}).goAway(3000)
                        this.$router.push({name: 'home'})
                        this.modal_show = false
                        this.$emit('refresh')
                        this.$eventHub.$emit('loader-false');
                    })
                    .catch(error => {
                        this.loader = false;
                        if (error.response) {
                            this.handleErrors(error.response)
                        }
                        this.$eventHub.$emit('loader-false');
                    })
            },

            showModal() {
                this.modal_show = true

            },
        },
        mounted() {
            this.$eventHub.$emit('loader-true');
            this.getTags()
        },
    }
</script>

<style scoped>

</style>