<template>
    <modal :show.sync="modal_show"
           body-classes="p-3"
           modal-classes="modal-dialog-centered modal-md">
        <form @submit.prevent="senderTag">
            <card type="secondary" shadow
                  header-classes="bg-white pb-5"
                  body-classes="px-lg-5 py-lg-5"
                  class="border-0">

                <div class="text-center mb-4">
                    <i class="fa fa-tag mr-2"></i>Incluir nova tag
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="form-control-label" for="name">Nome</label>
                            <input class="form-control" placeholder="Digite um nome" required="required"
                                   type="text" id="name"
                                   v-model="tag.name">
                        </div>
                    </div>
                </div>

                <base-button type="primary"  class="my-4" @click.prevent="senderTag()">
                    Confirmar
                </base-button>
            </card>
        </form>
    </modal>
</template>

<script>
    import Modal from "@/components/Modal.vue";

    export default {
        name: "TagRegister",
        components: {
            Modal,
        },
        data() {
            return {
                formData: new FormData(),
                modal_show: false,
                tags: [],
                tag: {
                    name: null,
                },
            }
        },
        methods: {
            senderTag() {
                this.$eventHub.$emit('loader-true');
                this.formData.append('name', this.tag.name)
                this.$store.dispatch('senderTag', this.formData)
                    .then(this.$toasted.show('enviando...', {position: 'bottom-left'}).goAway(3000))
                    .then(response => {
                        console.table(response.data)
                        this.$toasted.show(response.data.message, {position: 'top-center'}).goAway(3000)
                        this.$router.push({name: 'home'})
                    })
                    .catch(error => {
                        this.loader = false;
                        if (error.response) {
                            this.handleErrors(error.response)
                        }
                        this.$eventHub.$emit('loader-false');
                    })
            },
            showModal() {
                this.modal_show = true

            },
        },
        mounted() {
            this.$eventHub.$emit('loader-false');
        },
    }
</script>

<style scoped>

</style>