<template>
    <ul class="navbar-nav align-items-center ml-auto ml-md-0">
        <li class="nav-item dropdown">
            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
               aria-expanded="false">
                <div class="media align-items-center">
                                      <span class="avatar avatar-sm rounded-circle">
                                        <img alt="Image placeholder" src="#">
                                      </span>
                    <div class="media-body ml-2 d-none d-lg-block">
                        <span class="mb-0 text-sm  font-weight-bold"></span>
                    </div>
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-header noti-title">
                    <h6 class="text-overflow m-0">Bem vindo!</h6>
                </div>
                <router-link to="/profile" class="dropdown-item">
                    <i class="ni ni-single-02"></i>
                    <span>Meu Perfil</span>
                </router-link>
                <a href="#!" class="dropdown-item d-none">
                    <i class="ni ni-calendar-grid-58"></i>
                    <span>Atividade</span>
                </a>
                <a href="#!" class="dropdown-item d-none">
                    <i class="ni ni-support-16"></i>
                    <span>Suporte</span>
                </a>
                <div class="dropdown-divider"></div>
                <a href="/logout" class="dropdown-item">
                    <i class="ni ni-user-run"></i>
                    <span>Sair</span>
                </a>
            </div>
        </li>
    </ul>
</template>

<script>
    import {mapGetters} from 'vuex'
    export default {
        name: "DropdownProfile",
        computed: {
            ...mapGetters([
                'user'
            ]),
        },
    }
</script>

<style scoped>

</style>