<template>

    <li class="nav-item dropdown">

        <a class="nav-link" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
            <i class="ni ni-ungroup"></i> Menu
        </a>

        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-dark bg-default dropdown-menu-right">
            <div class="row shortcuts px-4">
                <router-link to="/dashboard" class="col-4 shortcut-item">
                    <span class="shortcut-media avatar rounded-circle bg-warning">
                      <i class="ni ni-chart-bar-32"></i>
                    </span>
                    <small>Dashboard</small>
                </router-link>

            </div>
        </div>
    </li>
    
</template>

<script>
    export default {
        name: "MiniMenu"
    }
</script>

<style scoped>

</style>