<template>

    <nav class="navbar navbar-expand-lg navbar-lightnavbar navbar-expand-lg navbar-light">
        <!-- Conteúdo do navbar -->
        <a class="navbar-brand" href="#">Movies</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">


        </div>
    </nav>
</template>

<script>
    import MiniMenu from '@/views/menu/MiniMenu'
    import DropdownProfile from '@/views/menu/DropdownProfile'

    export default {
        name: "Navbar",
        data() {

        },
        components: {
            DropdownProfile,
            MiniMenu
        },
        beforeCreate() {
            this.$store.dispatch('retrieveUser')
        },
    }
</script>

<style scoped>

</style>