.uncollapsed {
    margin-left: 250px;
}
.collapsed {
    margin-left: 50px;
}
/*
    Sidebar
*/

.v-sidebar-menu,
.v-sidebar-menu * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.v-sidebar-menu {
    position: fixed;
    top: 0;
    left: 0;
    /*width: 100%;*/
    max-width: 250px;
    height: 100vh;
    padding-bottom: 50px;
    z-index: 999;
    -webkit-transition: 0.3s width;
    transition: 0.3s width
}

.v-sidebar-menu.rtl {
    right: 0;
    left: inherit;
    text-align: right
}

.v-sidebar-menu>.vsm-list {
    width: 100%;
    height: 100%;
    overflow: hidden auto
}

.v-sidebar-menu.vsm-collapsed>.vsm-list {
    width: calc(100% + 17px);
    padding-right: 17px
}

.v-sidebar-menu.rtl>.vsm-list {
    direction: rtl
}

.v-sidebar-menu.vsm-collapsed.rtl>.vsm-list {
    padding-right: 0px;
    padding-left: 17px;
    float: right
}

.v-sidebar-menu .vsm-item {
    position: relative;
    display: block
}

.v-sidebar-menu .vsm-item.first-item>.vsm-link>.vsm-icon {
    height: 30px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 3px
}

.v-sidebar-menu .vsm-item.first-item>.vsm-link:after {
    content: '';
    display: block;
    clear: both
}

.v-sidebar-menu .vsm-item.mobile-item>.vsm-link>.vsm-icon {
    height: 30px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 3px
}

.v-sidebar-menu .vsm-item.active-item>.vsm-link,
.v-sidebar-menu .vsm-item.parent-active-item>.vsm-link {
    font-weight: 600
}

.v-sidebar-menu .vsm-link {
    position: relative;
    display: block;
    font-size: 16px;
    font-weight: 400;
    padding: 10px;
    line-height: 30px;
    text-decoration: none;
    z-index: 20;
    -webkit-transition: 0.3s all;
    transition: 0.3s all
}

.v-sidebar-menu .vsm-link[disabled] {
    opacity: 0.4;
    pointer-events: none
}

.v-sidebar-menu .vsm-title {
    display: block;
    white-space: nowrap
}

.v-sidebar-menu .vsm-icon {
    float: left;
    line-height: 30px;
    margin-right: 10px
}

.v-sidebar-menu.rtl .vsm-icon {
    float: right;
    margin-left: 10px;
    margin-right: 0px
}

.v-sidebar-menu .vsm-arrow {
    width: 30px;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: 0.3s -webkit-transform;
    transition: 0.3s -webkit-transform;
    transition: 0.3s transform;
    transition: 0.3s transform, 0.3s -webkit-transform
}

.v-sidebar-menu .vsm-arrow:after {
    content: '\f105';
    font-family: 'Font Awesome 5 Free'
}

.v-sidebar-menu .vsm-arrow.open-arrow {
    -webkit-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg)
}

.v-sidebar-menu.rtl .vsm-arrow {
    left: 10px;
    right: inherit
}

.v-sidebar-menu .vsm-dropdown>.vsm-list {
    padding: 5px
}

.v-sidebar-menu .expand-enter-active,
.v-sidebar-menu .expand-leave-active {
    -webkit-transition: height 0.35s ease;
    transition: height 0.35s ease;
    overflow: hidden
}

.v-sidebar-menu .expand-enter,
.v-sidebar-menu .expand-leave-to {
    height: 0 !important
}

.v-sidebar-menu .slide-animation-enter-active {
    -webkit-animation: slide-animation 0.2s;
    animation: slide-animation 0.2s
}

.v-sidebar-menu .slide-animation-leave-active {
    animation: slide-animation 0.2s reverse
}

@-webkit-keyframes slide-animation {
    0% {
        width: 0%
    }
    100% {
        width: 100%
    }
}

@keyframes slide-animation {
    0% {
        width: 0%
    }
    100% {
        width: 100%
    }
}

.vsm-header {
    /*background: url(https://navi.capital/assets/img/logo-navi-capital-color.jpg) center no-repeat;*/
    background: url(https://s3.amazonaws.com/navi-public/api/logo.png) center no-repeat;
    background-size: 150px 50px;
    margin: 20px 0;
}

.v-sidebar-menu .vsm-header {
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    white-space: nowrap;
    text-transform: uppercase;
    height: 60px;
}

.v-sidebar-menu .vsm-badge {
    padding: 0px 6px;
    font-size: 12px;
    border-radius: 3px;
    position: absolute;
    right: 10px;
    height: 20px;
    line-height: 20px;
    margin-top: 5px;
    font-weight: 600;
    text-transform: uppercase
}

.v-sidebar-menu.rtl .vsm-badge {
    left: 10px;
    right: inherit
}

.v-sidebar-menu .collapse-btn {
    display: block;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    position: absolute;
    height: 50px;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    border: none;
    width: 100%
}

.v-sidebar-menu .collapse-btn:after {
    content: '\f337';
    font-family: 'Font Awesome 5 Free'
}

.v-sidebar-menu {
    background-color: #2a2a2e
}

.v-sidebar-menu .vsm-link {
    color: #fff
}

.v-sidebar-menu .vsm-item.mobile-item>.vsm-link {
    color: #fff
}

.v-sidebar-menu .vsm-item.mobile-item>.vsm-icon {
    color: #fff;
    background-color: rgba(0, 0, 0, 0)
}

.v-sidebar-menu .vsm-item.first-item>.vsm-link>.vsm-icon {
    color: #fff;
    /*background-color: #1e1e21*/
}

.v-sidebar-menu .vsm-item.first-item.active-item>.vsm-link,
.v-sidebar-menu .vsm-item.first-item.parent-active-item>.vsm-link {
    -webkit-box-shadow: 3px 0px 0px 0px #4285f4 inset;
    box-shadow: 3px 0px 0px 0px #4285f4 inset
}

.v-sidebar-menu .vsm-item.first-item.active-item>.vsm-link>.vsm-icon,
.v-sidebar-menu .vsm-item.first-item.parent-active-item>.vsm-link>.vsm-icon {
    color: #fff;
    /*background-color: #1e1e21*/
}

.v-sidebar-menu.rtl .vsm-item.first-item.active-item>.vsm-link,
.v-sidebar-menu.rtl .vsm-item.first-item.parent-active-item>.vsm-link {
    -webkit-box-shadow: -3px 0px 0px 0px #4285f4 inset;
    box-shadow: -3px 0px 0px 0px #4285f4 inset
}

.v-sidebar-menu.vsm-default .vsm-item.first-item.open-item>.vsm-link {
    color: #fff;
    background-color: #4285f4
}

.v-sidebar-menu.vsm-default .vsm-item.first-item.open-item>.vsm-link>.vsm-icon {
    color: #fff;
    background-color: rgba(0, 0, 0, 0)
}

.v-sidebar-menu.vsm-default .vsm-link:hover {
    color: #fff;
    background-color: rgba(30, 30, 33, 0.5)
}

.v-sidebar-menu .vsm-dropdown>.vsm-list {
    background-color: #36363b
}

.v-sidebar-menu .vsm-dropdown>.vsm-list .vsm-link {
    color: #fff
}

.v-sidebar-menu .vsm-dropdown>.vsm-list .vsm-link:hover {
    color: #fff;
    background-color: rgba(30, 30, 33, 0.5)
}

.v-sidebar-menu .vsm-mobile-bg {
    background-color: #4285f4
}

.v-sidebar-menu .vsm-header {
    color: rgba(255, 255, 255, 0.7)
}

.v-sidebar-menu .vsm-badge.default-badge {
    color: #fff;
    background-color: #1e1e21
}

.v-sidebar-menu .collapse-btn {
    color: #fff;
    background-color: #1e1e21
}

/*White Theme*/
.v-sidebar-menu.white-theme {
    background-color: #fff;
    border-color: rgba(0,0,0,.05);
    box-shadow: 0 0 2rem 0 rgba(136,152,170,.15);
}

.v-sidebar-menu.white-theme .vsm-link {
    color: #262626
}

.v-sidebar-menu.white-theme .vsm-item.mobile-item>.vsm-link {
    color: #fff
}

.v-sidebar-menu.white-theme .vsm-item.mobile-item>.vsm-icon {
    color: #fff;
    background-color: rgba(0, 0, 0, 0)
}

.v-sidebar-menu.white-theme .vsm-item.first-item>.vsm-link>.vsm-icon {
    color: #262626;
    /*background-color: #bbc5d6*/
}

.v-sidebar-menu.white-theme .vsm-item.first-item.active-item>.vsm-link,
.v-sidebar-menu.white-theme .vsm-item.first-item.parent-active-item>.vsm-link {
    -webkit-box-shadow: 3px 0px 0px 0px #4285f4 inset;
    box-shadow: 3px 0px 0px 0px #4285f4 inset
}

.v-sidebar-menu.white-theme .vsm-item.first-item.active-item>.vsm-link>.vsm-icon,
.v-sidebar-menu.white-theme .vsm-item.first-item.parent-active-item>.vsm-link>.vsm-icon {
    color: #214774;
    /*background-color: #262626*/
}

.v-sidebar-menu.white-theme.rtl .vsm-item.first-item.active-item>.vsm-link,
.v-sidebar-menu.white-theme.rtl .vsm-item.first-item.parent-active-item>.vsm-link {
    -webkit-box-shadow: -3px 0px 0px 0px #4285f4 inset;
    box-shadow: -3px 0px 0px 0px #4285f4 inset
}

.v-sidebar-menu.white-theme.vsm-default .vsm-item.first-item.open-item>.vsm-link {
    color: #fff;
    background-color: #4285f4
}

.v-sidebar-menu.white-theme.vsm-default .vsm-item.first-item.open-item>.vsm-link>.vsm-icon {
    color: #fff;
    background-color: rgba(0, 0, 0, 0)
}

.v-sidebar-menu.white-theme.vsm-default .vsm-link:hover {
    color: #262626;
    background-color: #f2f2f2
}

.v-sidebar-menu.white-theme .vsm-dropdown>.vsm-list {
    background-color: #e3e3e3
}

.v-sidebar-menu.white-theme .vsm-dropdown>.vsm-list .vsm-link {
    color: #262626
}

.v-sidebar-menu.white-theme .vsm-dropdown>.vsm-list .vsm-link:hover {
    color: #262626;
    background-color: #f2f2f2
}

.v-sidebar-menu.white-theme .vsm-mobile-bg {
    background-color: #4285f4
}

.v-sidebar-menu.white-theme .vsm-header {
    color: rgba(38, 38, 38, 0.7)
}

.v-sidebar-menu.white-theme .vsm-badge.default-badge {
    color: #262626;
    background-color: #e0e0e0
}

.v-sidebar-menu.white-theme .collapse-btn {
    color: #262626;
    background-color: #f2f2f2
}