<template>
    <div id="loader-wrapper">
        <svg viewbox=" 0 0 512 512" id="loader">
            <linearGradient id="loaderLinearColors" x1="0" y1="0" x2="1" y2="1">
                <stop offset="5%" stop-color="#2B5584"></stop>
                <stop offset="100%" stop-color="#2B5584"></stop>
            </linearGradient>
            <g>
                <circle cx="256" cy="256" r="150" fill="none" stroke="url(#loaderLinearColors)"/>
            </g>
            <g>
                <circle cx="256" cy="256" r="125" fill="none" stroke="url(#loaderLinearColors)"/>
            </g>
            <g>
                <circle cx="256" cy="256" r="100" fill="none" stroke="url(#loaderLinearColors)"/>
            </g>
            <g>
                <circle cx="256" cy="256" r="75" fill="none" stroke="url(#loaderLinearColors)"/>
            </g>
            <circle cx="256" cy="256" r="60" fill="url(#loaderImage)" stroke="none" stroke-width="0"/>

            <!-- Change the preloader logo here -->
            <defs>
                <pattern id="loaderImage" height="100%" width="100%" patternContentUnits="objectBoundingBox">
                    <image href="https://s3.amazonaws.com/navi-public/api/logo.png"
                           preserveAspectRatio="true" width="1" height="1"></image>
                </pattern>
            </defs>
        </svg>

        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
</template>

<script>
	export default {
		name: "Loader"
	}
</script>

<style scoped>
    #loader-wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 100000
    }

    #loader-wrapper .loader-section {
        position: fixed;
        top: 0;
        width: 51%;
        height: 100%;
        background: #FFF;
        z-index: 99;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0)
    }

    #loader-wrapper .loader-section.section-left {
        left: 0
    }

    #loader-wrapper .loader-section.section-right {
        right: 0
    }

    .loaded #loader-wrapper {
        visibility: hidden;
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
        transform: translateY(-100%);
        -webkit-transition: all .3s 1s ease-out;
        -o-transition: all .3s 1s ease-out;
        -moz-transition: all .3s 1s ease-out;
        transition: all .3s 1s ease-out
    }

    .loaded #loader-wrapper .loader-section.section-left {
        -webkit-transform: translateX(-100%);
        -moz-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        -o-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition: all .7s .3s cubic-bezier(.645, .045, .355, 1);
        -o-transition: all .7s .3s cubic-bezier(.645, .045, .355, 1);
        -moz-transition: all .7s .3s cubic-bezier(.645, .045, .355, 1);
        transition: all .7s .3s cubic-bezier(.645, .045, .355, 1)
    }

    .loaded #loader-wrapper .loader-section.section-right {
        -webkit-transform: translateX(100%);
        -moz-transform: translateX(100%);
        -ms-transform: translateX(100%);
        -o-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition: all .7s .3s cubic-bezier(.645, .045, .355, 1);
        -o-transition: all .7s .3s cubic-bezier(.645, .045, .355, 1);
        -moz-transition: all .7s .3s cubic-bezier(.645, .045, .355, 1);
        transition: all .7s .3s cubic-bezier(.645, .045, .355, 1)
    }

    .loaded #loader {
        opacity: 0;
        -webkit-transition: all .5s ease-out;
        -o-transition: all .5s ease-out;
        -moz-transition: all .5s ease-out;
        transition: all .5s ease-out
    }

    svg#loader {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        margin: 0 auto;
        height: 100%;
        width: 100%;
        z-index: 999;
        background: #FFF
    }

    .btn-gradient-blue, .btn-gradient-orange {
        -webkit-transition: .5s;
        -o-transition: .5s;
        -moz-transition: .5s;
        -webkit-background-size: 200% auto
    }

    svg#loader g {
        -webkit-animation: spin 15s linear infinite;
        -moz-animation: spin 15s linear infinite;
        -o-animation: spin 15s linear infinite;
        animation: spin 15s linear infinite;
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%
    }

    svg#loader g circle {
        fill: none;
        stroke-width: 2px;
        stroke-linecap: round;
        color: #EEECF4;
        stroke-dasharray: 260, 0, 1, 0, 1, 0, 1, 0, 10, 1, 10, 1, 10, 1, 10, 1, 10, 10, 1, 10, 1, 10, 1, 10, 10, 1;
        -webkit-animation: dostuff 18s ease infinite;
        -moz-animation: dostuff 18s ease infinite;
        -o-animation: dostuff 18s ease infinite;
        animation: dostuff 18s ease infinite
    }

    svg#loader g:nth-child(even) {
        animation-direction: reverse
    }

    svg#loader g:nth-child(1n) {
        -webkit-animation-delay: -1s;
        -moz-animation-delay: -1s;
        -o-animation-delay: -1s;
        animation-delay: -1s
    }

    svg#loader g:nth-child(2n) {
        -webkit-animation-delay: -2s;
        -moz-animation-delay: -2s;
        -o-animation-delay: -2s;
        animation-delay: -2s
    }

    svg#loader g:nth-child(3n) {
        -webkit-animation-delay: -3s;
        -moz-animation-delay: -3s;
        -o-animation-delay: -3s;
        animation-delay: -3s
    }

    svg#loader g:nth-child(4n) {
        -webkit-animation-delay: -4s;
        -moz-animation-delay: -4s;
        -o-animation-delay: -4s;
        animation-delay: -4s
    }

    svg#loader g:nth-child(5n) {
        -webkit-animation-delay: -5s;
        -moz-animation-delay: -5s;
        -o-animation-delay: -5s;
        animation-delay: -5s
    }

    svg#loader g:nth-child(6n) {
        -webkit-animation-delay: -6s;
        -moz-animation-delay: -6s;
        -o-animation-delay: -6s;
        animation-delay: -6s
    }

    svg#loader g:nth-child(7n) {
        -webkit-animation-delay: -7s;
        -moz-animation-delay: -7s;
        -o-animation-delay: -7s;
        animation-delay: -7s
    }

    svg#loader g:nth-child(1n) circle {
        -webkit-animation-delay: -1.5s;
        -moz-animation-delay: -1.5s;
        -o-animation-delay: -1.5s;
        animation-delay: -1.5s
    }

    svg#loader g:nth-child(2n) circle {
        -webkit-animation-delay: -2.5s;
        -moz-animation-delay: -2.5s;
        -o-animation-delay: -2.5s;
        animation-delay: -2.5s
    }

    svg#loader g:nth-child(3n) circle {
        -webkit-animation-delay: -3.5s;
        -moz-animation-delay: -3.5s;
        -o-animation-delay: -3.5s;
        animation-delay: -3.5s
    }

    svg#loader g:nth-child(4n) circle, svg#loader g:nth-child(5n) circle {
        -webkit-animation-delay: -4.5s;
        -moz-animation-delay: -4.5s;
        -o-animation-delay: -4.5s;
        animation-delay: -4.5s
    }

    svg#loader g:nth-child(6n) circle {
        -webkit-animation-delay: -5.5s;
        -moz-animation-delay: -5.5s;
        -o-animation-delay: -5.5s;
        animation-delay: -5.5s
    }

    svg#loader g:nth-child(7n) circle {
        -webkit-animation-delay: -6.5s;
        -moz-animation-delay: -6.5s;
        -o-animation-delay: -6.5s;
        animation-delay: -6.5s
    }

    svg#loader g:nth-child(8n) circle {
        -webkit-animation-delay: -7.5s;
        -moz-animation-delay: -7.5s;
        -o-animation-delay: -7.5s;
        animation-delay: -7.5s
    }

    svg#loader g:nth-child(9n) circle {
        -webkit-animation-delay: -8.5s;
        -moz-animation-delay: -8.5s;
        -o-animation-delay: -8.5s;
        animation-delay: -8.5s
    }

    svg#loader g:nth-child(10n) circle {
        -webkit-animation-delay: -9.5s;
        -moz-animation-delay: -9.5s;
        -o-animation-delay: -9.5s;
        animation-delay: -9.5s
    }

    svg#loader g:last-child circle {
        fill: #CCC;
        stroke: none
    }

    @-webkit-keyframes dostuff {
        50% {
            stroke-dasharray: 10, 1, 10, 1, 10, 1, 10, 1, 10, 1, 10, 1, 10, 10, 10, 1, 20, 120, 1, 30, 1, 30, 1, 10, 30, 1
        }
    }

    @-moz-keyframes dostuff {
        50% {
            stroke-dasharray: 10, 1, 10, 1, 10, 1, 10, 1, 10, 1, 10, 1, 10, 10, 10, 1, 20, 120, 1, 30, 1, 30, 1, 10, 30, 1
        }
    }

    @-o-keyframes dostuff {
        50% {
            stroke-dasharray: 10, 1, 10, 1, 10, 1, 10, 1, 10, 1, 10, 1, 10, 10, 10, 1, 20, 120, 1, 30, 1, 30, 1, 10, 30, 1
        }
    }

    @keyframes dostuff {
        50% {
            stroke-dasharray: 10, 1, 10, 1, 10, 1, 10, 1, 10, 1, 10, 1, 10, 10, 10, 1, 20, 120, 1, 30, 1, 30, 1, 10, 30, 1
        }
    }

    @-webkit-keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg)
        }
    }

    @-moz-keyframes spin {
        100% {
            -moz-transform: rotate(360deg);
            transform: rotate(360deg)
        }
    }

    @-o-keyframes spin {
        100% {
            -o-transform: rotate(360deg);
            transform: rotate(360deg)
        }
    }

    @keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -o-transform: rotate(360deg);
            transform: rotate(360deg)
        }
    }

    .no-js #loader-wrapper {
        display: none
    }

</style>