<template>

    <list v-if="subComponentShow==='list'"
                   @show-component="showComponent"/>

    <details-movie v-else-if="subComponentShow==='details'" :movie="movie"
          @show-component="showComponent"/>

    
</template>

<script>

    import List from "@/views/movie/List";
    import DetailsMovie from "@/views/movie/DetailsMovie";

    export default {
        name: "Home",
        data(){
            return {
                subComponentShow: 'list',
                movies: [],
                movie: [],
                movie_null : {
                    name: null
                }

            }
        },
        methods:{
            showComponent(component, movie = null) {
                this.movie = movie
                this.subComponentShow = component
            },

            refresh() {
                this.showComponent('list', this.movie_null)
            },
        },
        mounted() {

        },

        components: {
            List,
            DetailsMovie,
        },

    }
</script>

<style scoped>

</style>