<template>
    <div id="app">
        <router-view name="header"></router-view>
        <main>
            <fade-transition origin="center" mode="out-in" :duration="250">
                <router-view/>
            </fade-transition>
        </main>
        <router-view name="footer"></router-view>
    </div>
</template>
<script>
import { FadeTransition } from "vue2-transitions";
import Loader from './components/Loader';

export default {
    name: "App",
    data() {
        return {
            loader: true
        }
    },

    created() {
        this.$eventHub.$on('loader-true', this.loaderTrue);
        this.$eventHub.$on('loader-false', this.loaderFalse);
    },
    beforeDestroy() {
        this.$eventHub.$off('loader-true');
        this.$eventHub.$off('loader-false');
    },
    methods: {
        loaderTrue() {
            this.loader = true
        },
        loaderFalse() {
            this.loader = false
        }
    },

  components: {
    FadeTransition,
      Loader
  }
};
</script>
