<template>
    <section class="section section-shaped section-lg my-0 bg-gradient-default bg-login">
        <vue-headful
                title="Acessar app"
                description="Acessar app"
        />
        <div class="container pt-md-5 pt-lg-8">
            <div class="row justify-content-center">
                <div class="col-lg-5 text-center">

                    <card type="secondary" shadow
                          header-classes="bg-white pb-5"
                          body-classes="px-lg-5 py-lg-5"
                          class="border-0">
                        <template>
                            <div class="text-muted text-center mb-3"></div>
                            <div class="btn-wrapper text-center"></div>
                        </template>
                        <template>
                            <div class="text-center text-muted mb-4">
                                Acessar aplicação
                            </div>
                            <form role="form">
                                <base-input alternative
                                            class="mb-3"
                                            placeholder="Email"
                                            addon-left-icon="ni ni-circle-08"
                                            v-model="email">
                                </base-input>
                                <base-input alternative
                                            type="password"
                                            placeholder="Password"
                                            addon-left-icon="ni ni-key-25"
                                            v-model="password">
                                </base-input>

                                <vue-recaptcha
                                        ref="recaptcha"
                                        @verify="onCaptchaVerified"
                                        size="invisible"
                                        :sitekey="recaptcha_key"/>



                                <div class="text-center">
                                    <button :disabled="!isFilled"
                                            type="submit"
                                            class="btn btn-default my-4 btn-block"
                                            @click.prevent="login()">Entrar
                                    </button>
                                </div>
                            </form>
                        </template>
                    </card>
                    <div class="row mt-3">
                        <div class="col-6 text-left">
                            <a href="#" class="text-light">
                                <small>Esqueceu sua senha?</small>
                            </a>
                        </div>
                        <div class="col-6 text-right">
                            <router-link to="/register" class="btn btn-sm btn-outline-success">Criar Conta</router-link>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    import VueRecaptcha from 'vue-recaptcha';
    import BaseInput from "@/components/BaseInput.vue"
    import BaseButton from "@/components/BaseButton.vue"
    import Card from "@/components/Card.vue"

    export default {
        name: "Login",
        data() {
          return {
              email: null,
              password: null,
              password_type: 'password',
          }
        },
        computed: {
            isFilled() {
                return this.password && this.email;
            }
        },
        methods: {
            login() {
                this.$eventHub.$emit('loader-true');
                this.$store.dispatch('login', {
                    email: this.email,
                    password: this.password,

                })
                    .then(this.$toasted.show('Verificando seus dados...', {position: 'top-center'}).goAway(3000))
                    .then(response => {
                        this.message = response.data.message
                        this.$toasted.show(response.data.message, {position: 'bottom-center'}).goAway(3000)
                        this.$router.push({name: 'home'})
                        this.$eventHub.$emit('loader-false');
                    })
                    .catch(error => {
                        this.loader = false;
                        if (error.response) {
                            this.handleErrors(error.response)
                        }
                        this.$eventHub.$emit('loader-false');
                    })
            },

        },
        mounted() {
            this.$eventHub.$emit('loader-false');
        },
        components: {
            BaseInput,
            BaseButton,
            Card,
            VueRecaptcha,
        }

    };
</script>

<style scoped>

</style>