<template>
    <section class="section section-shaped section-lg my-0 bg-gradient-default bg-login">
        <vue-headful
                title="Criar Conta - App"
                description="Criação de Conta"
        />
        <div class="container pt-md-5 pt-lg-8">
            <div class="row justify-content-center">
                <div class="col-lg-5 text-right">
                    <card type="secondary" shadow
                          header-classes="bg-white pb-5"
                          body-classes="px-lg-5 py-lg-5"
                          class="border-0">
                        <template>
                            <div class="text-center text-muted mb-4">
                                Criar minha conta
                            </div>
                            <form role="form">
                                <base-input alternative
                                            class="mb-3"
                                            placeholder="Name"
                                            addon-left-icon="ni ni-hat-3"
                                            v-model="name">
                                </base-input>

                                <span v-if="username_registered" class="block badge badge-danger">já cadastrado.</span>
                                <span v-if="username_invalid" class="block badge badge-danger">inválido.</span>


                                <span v-if="email_invalid" class="block badge badge-danger">inválido.</span>
                                <span v-if="email_registered" class="block badge badge-danger">já cadastrado.</span>
                                <base-input alternative
                                            class="mb-3"
                                            placeholder="Email"
                                            addon-left-icon="ni ni-email-83"
                                            v-model="email">
                                </base-input>



                                <base-input alternative
                                            type="password"
                                            placeholder="Senha"
                                            addon-left-icon="ni ni-lock-circle-open"
                                            v-model="password">
                                </base-input>
                                <base-input alternative
                                            type="password"
                                            placeholder="Confirmação de Senha"
                                            addon-left-icon="ni ni-lock-circle-open"
                                            v-model="password_confirmation">
                                </base-input>
=                                <div class="text-center">
                                    <base-button type="default" class="my-4 btn-block" :disabled='!isFilled'
                                                 @click.prevent="register()">Criar Minha Conta
                                    </base-button>
                                    <a href="/login" class="btn btn-sm btn-outline-primary">
                                        <small class="pl-5 pr-5">Voltar</small>
                                    </a>

                                </div>
                            </form>
                        </template>
                    </card>
                </div>
            </div>
        </div>


    </section>
</template>

<script>
    import Modal from "@/components/Modal.vue";
    import BaseCheckbox from "@/components/BaseCheckbox.vue"
    import BaseInput from "@/components/BaseInput.vue"
    import BaseButton from "@/components/BaseButton.vue"
    import Card from "@/components/Card.vue"


    export default {
        name: "Register",
        data() {
            return {
                name: null,
                email: null,
                password: null,
                password_confirmation: null,
            }
        },
        computed: {
            isFilled() {
                return this.name, this.email && this.password && this.password_confirmation
            }
        },
        components: {
            Modal,
            BaseCheckbox,
            BaseInput,
            BaseButton,
            Card
        },
        methods: {
            register() {
                this.$eventHub.$emit('loader-true');
                this.$store.dispatch('register', {
                    name: this.name,
                    email: this.email,
                    password: this.password,
                    password_confirmation: this.password_confirmation,
                })
                    .then(this.$toasted.show('Cadastrando seus dados...', {position: 'top-center'}).goAway(3000))
                    .then(response => {
                        this.message = response.data.message
                        this.$toasted.show(response.data.message, {position: 'bottom-center'}).goAway(3000)
                        this.$router.push({name: 'login'})
                        this.$eventHub.$emit('loader-false');
                    })
                    .catch(error => {
                        this.loader = false;
                        if (error.response) {
                            this.handleErrors(error.response)
                        }
                        this.$eventHub.$emit('loader-false');
                    })
            },
            checkEmail() {
                this.$store.dispatch('checkRegisterEmail', {
                    email: this.email
                }).then(response => {
                    this.email_registered = false
                    this.email_invalid = false
                }).catch(error => {
                    this.email = null
                    if (error.response.status === 400) {
                        this.email_invalid = false
                        this.email_registered = true
                    }
                    if (error.response.status === 422) {
                        this.email_registered = false
                        this.email_invalid = true
                    }
                })
            },
        },
        mounted() {
            this.$eventHub.$emit('loader-false');
        }
    }
</script>

<style scoped>

</style>